@import url('https://fonts.googleapis.com/css2?family=Coiny');
html,body,h1,h2,h3,h4,h5,a{
    font-family: 'Coiny',cursive;
}
.navbar{
    background: rgb(35, 12, 240);
    
    }
    .nav-link,.navbar-brand{
        color:#f4f4f4;
        cursor: pointer;
    }
    .nav-link{
        margin-right: 1em !important;
    }
    .nav-link:hover{
        background: #f4f4f4;
        color: #F97300;
    }
    .navbar-collapse{
        justify-content: flex-end;
    }
    .navbar-toggler{
        background: #fff !important;
    }
    .bg-dark{
        background-color: #343a40 !important
    }
    .bg-primary{
        background-color: #343a40 !important
    }



    .about{
        margin: 4em 0;
        padding: 1em;
        position: relative;
    }
    .about h1{
        color: #F97300;
        margin: 1em;
    }
    .about img{
        height: 100;
        width: 100;
        border-radius: 50%;
    }
    .about span{
        display: block;
        color: #888;
        position: absolute;
        left: 115px;
    }
    .about .desc{
        padding: 2em;
        border-left: 4px solid #10828C;
    }
    .about .desc h3{
        color: #10828C;
    }
    .about .desc p{
        line-height: 2;
        color: #888;
    }
